.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.columns-2-cols .column-container,
.columns.columns-2-cols .columns-no-img-container {
  padding:50px 0;
}

.columns .columns-img-col, .columns .columns-content-col {
  padding: 0 15px;
}

.columns.columns-2-cols .column-container .columns-content-col p:first-child{
  color: #21295a;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: normal;
  position: relative;
  display: inline-block;
}

.columns.columns-2-cols .column-container .columns-content-col p:first-child::after{
  content: '';
  border-top: 5px solid #fcb017;
  border-bottom: 0px solid transparent;
  border-left: 69px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  position: absolute;
  bottom: -3px;
  right: 0px;
}

.columns.columns-2-cols .column-container .columns-content-col h4{
  color: #414979;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: normal;
  margin-top:0;
  margin-bottom: 1.5rem;
}

.columns.columns-2-cols .columns-content-col p:nth-child(3),
.columns.columns-2-cols .columns-no-img-container p:first-child {
  color: #6a738a;
  font-size: 15px;
  font-family: 'Roboto', 'sans-serif';
}

.columns.columns-2-cols .column-container .columns-content-col p:last-child{
  transition: all .45s cubic-bezier(.65,0,.076,1);
    position: relative;
    display: inline-block;
    padding: .75rem 0;
    margin: 0;
    color: #fb4d4d;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle;
}

.columns.columns-2-cols .column-container .columns-content-col p:last-child:after {
  content: '';
  border-top: 2px solid #fb4d4d;
  border-right: 2px solid #fb4d4d;
  width: 8px;
  height: 8px;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg);
  top: 40%;
  right: -30%;
}

.columns.columns-2-cols .columns-no-img-container .button-container{
  padding-top:0;
  margin: 0;
}

.columns.columns-2-cols .columns-no-img-container .button-container .button {
  background: none;
  display: inline-block;
  color: #007bff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  text-decoration: underline;
  padding:0;
  margin-bottom: 0;
}

.columns.columns-2-cols .columns-no-img-container .button-container .button:hover {
  color: #0056b3;
}


#q----g-----l----p {
    display: flex;
    justify-content: space-between;
    padding: 0 14px 0 0;
    margin: 0;
}

#q----g-----l----p strong {
  font-size: 104px;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
}

#q----g-----l----p strong:nth-child(even){
  color: #fb4d4d;
}

#q----g-----l----p strong:nth-child(odd){
  color: #faa528;
}

#quality---------------growth----------------longevity--------price {
  margin: 10px 0;
}

#quality---------------growth----------------longevity--------price strong {
  font-size: 24px;
  color: #1a294e;
  margin: 10px 0;
  font-family: Roboto;
  font-weight: 400;
  word-spacing: 2rem;
  display: block;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .columns .columns-no-img-container p:first-child  {
    max-width: 83.333333%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #q----g-----l----p strong {
      font-size: 70px;
  }
  #quality---------------growth----------------longevity--------price strong {
    font-size: 18px;
  }
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media screen and (max-width: 767px) {
  .columns.columns-2-cols .columns-content-col p:first-child{
      font-size: 20px;
  }
  .columns.columns-2-cols .column-container .columns-content-col h4 {
    line-height: 22px;
    margin-top: 5px;
  }
  .columns.columns-2-cols .columns-content-col p:nth-child(3),
  .columns.columns-2-cols .columns-no-img-container p:first-child {
    font-size: 13px;
  }
  .column-container {
    margin-top:30px;
    padding:20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #q----g-----l----p strong {
      font-size: 40px;
  }
  #quality---------------growth----------------longevity--------price strong {
    font-size: 12px;
  }
}


