footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

/* Footer coumns 3 styling */

.footer .columns-3-cols .columns-content-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  align-self: stretch;
  margin-bottom: 30px;;
}

.footer .columns-3-cols .columns-content-col h5 {
  font-size: 20px;
  color: #1a294e;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(33, 41, 90, .2);
}

.footer .columns-3-cols .columns-content-col p:last-child {
  display: flex;
  gap: 5px;
}

.footer .columns-3-cols .columns-content-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .columns-3-cols .columns-content-col ul li{
  font-size: 14px;
  color: #6a738a;
}

.footer .default-content-wrapper p:first-child{
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid rgba(33, 41, 90, .2);
}

.footer .default-content-wrapper p{
  color: #6a738a;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
